body {
    background-color: #f8f9fa;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
}
/* Estilos para el footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center; /* Centra el texto en el footer */
    padding: 10px; /* Espaciado dentro del footer */
    background-color: #f8f9fa; /* Color de fondo del footer */
    /* Puedes ajustar el color de fondo según tu diseño */
}
/* Para asegurar que el footer esté al final */
body {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    min-height: 100vh; /* Hace que el body ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto */
}

/* Asegúrate de que el footer esté al final */
footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
}
